In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("titanic.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
dependents=df.drop(['Survived','PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns')

In [5]:
dependents.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [6]:
ind=df['Survived']

In [7]:
ind

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [16]:
dependents.Sex = dependents.Sex.map({'male':1, 'female':2})

In [9]:
dependents.Age=dependents.Age.fillna(dependents.Age.mean())

In [17]:
dependents

     Pclass  Sex        Age     Fare
0         3    1  22.000000   7.2500
1         1    2  38.000000  71.2833
2         3    2  26.000000   7.9250
3         1    2  35.000000  53.1000
4         3    1  35.000000   8.0500
..      ...  ...        ...      ...
886       2    1  27.000000  13.0000
887       1    2  19.000000  30.0000
888       3    2  29.699118  23.4500
889       1    1  26.000000  30.0000
890       3    1  32.000000   7.7500

[891 rows x 4 columns]

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_train,x_test,y_train,y_test = train_test_split(dependents,ind,test_size=0.2)

In [20]:
len(x_train),len(y_train),len(x_test),len(y_test)

(712, 712, 179, 179)

In [21]:
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [22]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [23]:
model.score(x_test,y_test)

0.8324022346368715

## another methods

In [28]:
new_dependents = df.drop(['Survived','PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns')

In [29]:
new_dependents

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]

In [30]:
new_ind=ind
new_ind

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [31]:
from sklearn.preprocessing import LabelEncoder

In [32]:
le_s = LabelEncoder()

In [34]:
new_dependents['Sex_new'] =le_s.fit_transform(dependents['Sex'])

In [35]:
new_dependents

     Pclass     Sex   Age     Fare  Sex_new
0         3    male  22.0   7.2500        0
1         1  female  38.0  71.2833        1
2         3  female  26.0   7.9250        1
3         1  female  35.0  53.1000        1
4         3    male  35.0   8.0500        0
..      ...     ...   ...      ...      ...
886       2    male  27.0  13.0000        0
887       1  female  19.0  30.0000        1
888       3  female   NaN  23.4500        1
889       1    male  26.0  30.0000        0
890       3    male  32.0   7.7500        0

[891 rows x 5 columns]

In [36]:
depend_new = new_dependents.drop(['Sex'],axis='columns')

In [37]:
depend_new.head()

   Pclass   Age     Fare  Sex_new
0       3  22.0   7.2500        0
1       1  38.0  71.2833        1
2       3  26.0   7.9250        1
3       1  35.0  53.1000        1
4       3  35.0   8.0500        0

In [39]:
depend_new.Age = depend_new.Age.fillna(depend_new.Age.mean())

In [40]:
depend_new

     Pclass        Age     Fare  Sex_new
0         3  22.000000   7.2500        0
1         1  38.000000  71.2833        1
2         3  26.000000   7.9250        1
3         1  35.000000  53.1000        1
4         3  35.000000   8.0500        0
..      ...        ...      ...      ...
886       2  27.000000  13.0000        0
887       1  19.000000  30.0000        1
888       3  29.699118  23.4500        1
889       1  26.000000  30.0000        0
890       3  32.000000   7.7500        0

[891 rows x 4 columns]

In [41]:
from sklearn import tree

In [42]:
model = tree.DecisionTreeClassifier()

In [43]:
model.fit(depend_new,new_ind)

DecisionTreeClassifier()

In [45]:
model.score(depend_new,new_ind)

0.9797979797979798

In [46]:
model.predict([[1,35.000000,53.1000,1]])

C:\Users\Jyoti\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)